---

import './card.css';
---

<section class="projects-section" id="proyectos">
  <div class="projects-container">
    <h2 class="projects-title">ESCOGE TU MEJOR OPCIÓN</h2>
    <div class="projects-track">
      <!-- Primera serie completa -->
      <div class="project-card">
        <img src="/public/Images/appsAlaMedida.jpg" alt="E-commerce App" class="project-image">
          <div class="project-placeholder">
            <h4>E-commerce App</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/landingPage.jpg" class="project-image">
          <div class="project-placeholder">
            <h4>Landing Page</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/backend.png" class="project-image">
          <div class="project-placeholder">
            <h4>API Development</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/PWA.jpg" class="project-image">
          <div class="project-placeholder">
            <h4>Web App</h4>
          </div>
        </img>
      </div>

      <!-- Segunda serie para loop infinito -->
       <div class="project-card">
        <img src="/public/Images/appsAlaMedida.jpg" alt="E-commerce App" class="project-image">
          <div class="project-placeholder">
            <h4>E-commerce App</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/landingPage.jpg" class="project-image">
          <div class="project-placeholder">
            <h4>Landing Page</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/backend.png" class="project-image">
          <div class="project-placeholder">
            <h4>API Development</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/PWA.jpg" class="project-image">
          <div class="project-placeholder">
            <h4>Web App</h4>
          </div>
        </img>
      </div>

            <!-- Tercera serie para loop infinito -->
       <div class="project-card">
        <img src="/public/Images/appsAlaMedida.jpg" alt="E-commerce App" class="project-image">
          <div class="project-placeholder">
            <h4>E-commerce App</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/landingPage.jpg" class="project-image">
          <div class="project-placeholder">
            <h4>Landing Page</h4>
          </div>
        </img>
      </div>
      
      <div class="project-card">
        <img src="/public/Images/backend.png" class="project-image">
          <div class="project-placeholder">
            <h4>API Development</h4>
          </div>
        </img>
      </div>