---
import MainLayout from '../layouts/Main/mainLayout.astro';
import Card from '../components/card/card.astro';
import ServicesGrid from '../components/services/servicesGrid.astro';
import '../styles/styles.css';
---

<MainLayout title="Sunfire - Desarrollo de Software">
	<section class="hero-section">
    <div class="hero-container">
		<h1>Magically add a senior developer to your team</h1>
		<p>Get top-tier design in less than a week. Subscriptions as one-time projects.</p>
		<a href="#servicios" class="hero-cta">Get Started</a>
    </div>
	</section>
	<Card />
	<ServicesGrid />
</MainLayout>
