---
import MainLayout from '../layouts/Main/mainLayout.astro';
import Card from '../components/card/card.astro';
import ServicesGrid from '../components/services/servicesGrid.astro';
import Hero from '../components/hero/hero.astro';
import Contacto from '../components/contacto/contacto.astro';
import Blog from '../components/blog/blog.astro';

import '../styles/styles.css';
import Policy from '../components/blog/policy.astro';

---



<MainLayout title="Sunfire - Desarrollo de Software">
	
    <div class="image container">
            <img src="/Images/CodeHERO.png" alt="Hero Image" class="hero-image" />
        </div>
	<section class="hero-section scroll-snap-section">
		<Hero/>
	</section>

	<section class="services-section scroll-snap-section">
		<ServicesGrid/>
	</section>

	<section class="blog-section">
		<Blog/>
	</section>

	<section class="card-section scroll-snap-section">
		<Card/>
	</section>

	<section class="contact-section scroll-snap-section">
		<Contacto/>
	</section>
</MainLayout>


