---
import Header from '../../components/header/header.astro';
import Footer from '../../components/footer/footer.astro';
import './mainLayout.css';
export interface Props {
  title?: string;
  description?: string;
}
  const { title = "Sunfire - Desarrollo de Software", description = "Servicios de desarrollo de software a medida." } = Astro.props;
          ---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
      <link rel="icon" type="image/x-icon" href="/favicon.ico">
      <meta name="theme-color" content="#ffffff">
      <title>{title}</title>
    <!-- Fuentes Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Opción 3: Futuristas -->
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;900&family=Space+Grotesk:wght@400;500;600;700&display=swap" rel="stylesheet">
  
  </head>
  <body>
    <Header />
    
    <main class="main-content">
      <slot />
    </main>
    
    <Footer />
  </body>
</html>